.head-nav a:nth-child(6) .nav-line{
	width: 100%;
}
.address{
	width: 50vw;
	margin: 0 auto;
}
.address li{
	font-size: 16px;
	margin: 2vw 0px;
	color: #666;
	display: flex;
}
.address li span{
	margin-right: 15px;
}
.address a{
	color: blue;
}
.address a:hover{
	color: red;
}
