.head{
	overflow: hidden;
}
.head-content{
	display: flex;
	height: 60px;
	padding: 0px 4vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background: #f7f7f7;
	border-bottom: solid 1px #ddd;
}
.logo{
	width: 80px;
}
.menu-btn{
	width: 22px;
	height: 17px;
	border-top: solid 3px #1F92EC;
	border-bottom: solid 3px #1F92EC;
	display: none;
	flex-wrap: wrap;
	align-items: center;
}
.menu-btn span{
	display: block;
	width: 22px;
	border-top: solid 3px #1F92EC;
}
.head-nav{
	display: flex;
}
.head-nav a{
	color: #333;
	margin:0vw 1vw;
	font-size: 16px;
}
.nav-line{
	width: 0%;
	border-top: solid 2px blue;
	margin: 5px auto;
	transition: all 0.5s;
}
.head-nav a:hover .nav-line{
	width: 100%;
}
.banner{
	height: 600px;
	position: relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.banner img{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	transition: 1s;
}
.banner img:first-child{
	opacity: 1;
}
.prev-btn,.next-btn{
	width: 41px;
	height: 69px;
	background: url(../img/icon-slides.png) -83px 0px;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	cursor: pointer;
}
.prev-btn{
	left: 4vw;
}
.prev-btn:hover{
	background: url(../img/icon-slides.png) -0px 0px;
	opacity: 0.7;
}
.next-btn{
	background: url(../img/icon-slides.png) -123px 0px;
	right: 4vw;
}
.next-btn:hover{
	background: url(../img/icon-slides.png) -42px 0px;
	opacity: 0.7;
}
.banner-tg{
	position: absolute;
	bottom: 1vw;
	width: 100%;
	text-align: center;
}
.banner-tg li{	
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: solid 2px #ccc;
	background: transparent;
	margin: 0px 5px;
	cursor: pointer;
}
.banner-tg li:first-child{
	background: #ddd;
}
.ft{
	border-top: solid 1px #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0px;
}
.ft p{
	padding: 0px 10px;
	line-height: 16px;
	font-size: 14px;
	color: #999;
}
.ft .p2{
	display: none;
}
.ft img{
	width: 3vw;
}
.top{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
}
@media screen and (max-width: 480px) {
	.logo{
		width: 50px;
	}
	.head-content{
		height: 50px;
		position: fixed;
		width: 100%;
		top: 0px;
		left: 0px;
		z-index: 99;
	}
	.menu-btn{
		display: flex;
	}
	.head-nav{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 50px;
		left: 0px;
		display: none;
		z-index: 30;
		background: #ddd;
	}
	.head-nav a{
		display: block;
		width: 100%;
		height: 40px;
		line-height: 40px;
		margin: 0;
		border-bottom: solid 1px #ccc;
		text-indent: 7vw;
		color: #333;
		font-size: 16px;
	}
	.nav-line{
		display: none;
	}
	.banner{
		margin-top: 50px;
		height: 40vh;
	}
	.news-hd h3{
		font-size: 20px;
	}
	.news-hd a{
		font-size: 14px;
	}
	.ft{
		display: block;
		font-size: 12px;
		height: auto;
		padding: 15px 0px;
	}
	.ft p{
		line-height: 16px;
		padding: 0px 5vw;
		color: #666;
		display: none;
	}
	.ft .p2{
		display: block;
		text-align: center;
    	font-size: 12px;
	}
	.ft img{
		display: none;
	}
	.ft .top{
		right: 10px;
		width: 20px;
	}
}